<section id="footer">
    <footer>
        <a class="errorNote" href="mailto:adres e-mail">Zgłoś błąd</a></br>
        Created with ❤ by ToPe & Gmuruu
    </footer>
</section>

</body>

</html>