<meta content="width=device-width, initial-scale=1" name="viewport" />
<div class="container-fluid">
        <div class="row">
                <div class="col-1">
                        <div class="container-bar">
                                <div class="icon-bar">
                                    <a href="/home" id="home"><i class="fa fa-home"></i></a>
                                    <a href="/fixedAssets" id="fixedAssets"><i class="fa fa-laptop"></i></a>
                                    <a href="/humanResources" id="hr"><i class="fa fa-users"></i></a>
                                    <a href="/production" id="production"><i class="fa fa-tasks"></i></a>
                                    <a href="/editCompany" id="editCompany"><i class="fa fa-edit"></i></a>
                                    <a href="#" id="calendar"><i class="fa fa-calendar"></i></a>
                                </div>
                            </div>
                </div>