<div class="left-navbar">
        <div class="panel-left-navbar alignVertical">
          <button type="button" class="button-left-navbar"><i class="fa fa-home fa-2x"></i> <br /> Pulpit</button>
          <button type="button" class="button-left-navbar">Środki trwałe</button>
          <button type="button" class="button-left-navbar">Zasoby ludzkie</button>
          <button type="button" class="button-left-navbar">Produ-<br />kcja</button>
          <button type="button" class="button-left-navbar">Edytuj firmę</button>
          <button type="button" class="button-left-navbar">Kalend- <br />arz</button>
          <button type="button" class="button-left-navbar">Wiado-<br />mości</button>
        </div>
</div>