<div class="container-fluid">
        <div class="row">
                <div class="col-1">
                        <div class="left-navbar ">
                                <div class="panel-left-navbar alignVertical">
                                        <a href="/home"><button type="button" class="button-left-navbar"><i
                                                                class="fa fa-home fa-2x"></i> <br /> Pulpit</button></a>

                                        <a href="/home"><button type="submit" class="button-left-navbar">Środki
                                                        trwałe</button></a>
                                        <a href="/home"><button type="button" class="button-left-navbar">Zasoby
                                                        ludzkie</button></a>
                                        <a href="/home"><button type="button"
                                                        class="button-left-navbar">Produ-<br />kcja</button></a>
                                        <a href="/home"><button type="button" class="button-left-navbar">Edytuj
                                                        firmę</button></a>
                                        <a href="/home"><button type="button" class="button-left-navbar">Kalend-
                                                        <br />arz</button></a>
                                        <a href="/home"><button type="button"
                                                        class="button-left-navbar">Wiado-<br />mości</button></a>
                                </div>
                        </div>
                </div>