<% include partials/headerLogin %>
<% include partials/leftNavbar %>

<div class="col-11">

        <div class="section-assets">
            <div class="row border">
                ddd
            </div>
        </div>
</div>
<% include partials/footerLogin %>