<% include partials/headerLogin %>
<% include partials/leftNavbar %>
<!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/calendar.js"></script>

  <div id='maincalendar'></div>
  <script>
    var x = '<%-JSON.stringify(calendarJobs)%>';
    createCalendar(x);
</script>

<% include partials/footerLogin %>