<% include partials/headerLogin %>
<% include partials/leftNavbar %>
<!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/calendar.js"></script>


<div class="col-lg-11">
    <div class="section-assets">
        <div class="row border shadow-lg p-3 mb-5 rounded">
  <div id='maincalendar'></div>
  </div>
  </div>
</div>
  
  <script>
    var x = '<%-JSON.stringify(calendarJobs)%>';
    createCalendar(x);
</script>

<% include partials/footerLogin %>