<!-- Tutaj trzeba zrobić tak, aby system podpowiadał nazwę firmy, kiedy uzytkownik zacznie wpisywac. Z listy podpowiadanych, uzytkownik wybiera odpowiednia -->
<% include partials/auth/headerAuth %>
<h2>Wyszukaj firmę</h2>
<p>Podaj informacje, po których będziemy mogli znaleźć Twoją firmę</p>
<div class="panel signInFormPanel">
    <form action="companyChoose">
        <input type="text" class="form-control form" placeholder="Nazwa firmy lub ID firmy">
        <button type="submit" class="btn btn-success">Wybierz</button>
    </form>

    <p><a class="signup" href="/signin">Masz konto? Zaloguj się.</a></p>
</div>
<% include partials/auth/footerAuth %>