<% include partials/headerLogin %>
<% include partials/leftNavbar %>
<!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/emails.js"></script>

<div class="col-lg-11">
    <div class="section-assets">
        <div class="border shadow-lg p-3 mb-5 rounded">
            <div class="row asset-name">
                <div class="col text-center">
                    <h2>Dodaj nowy email</h2>
                    <hr>
                </div>
            </div>

            <form action="createEmail" method="POST">
                <div class="input-group addAssets">
                    <input type="text" class="form-control address" name="address" placeholder="Nazwa użytkownika" aria-label="Nazwa użytkownika"
                        aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">@comboModule.com</span>
                    </div>
                </div>
            
                <div class="input-group addAssets">
                    <input type="text" class="form-control alias" name="alias" placeholder="Alias" aria-label="Alias" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">@comboModule.com</span>
                    </div>
                </div>
            
                <select class="form-control selectWorker input addAssets" placeholder="Pracownik" id="worker" name="worker"
                    required>
                    <option value="" selected disabled>Wybierz pracownika</option>
                    <% for (var i = 0; i<workers.length; i++){ %>
                            <option value="<%=workers[i].IdPracownik %>"><%= workers[i].Imie %> <%= workers[i].Nazwisko %></option>
                    <% } %>
                </select>
            
                <div class="row">
                    <div class="col-lg-12 text-center">
                            <button type="button" onclick="goBack();" class="btn btn-danger"><i class="fas fa-times"></i> Anuluj</button>
                        <button type="submit" class="btn btn-success submitButton "><i class="fas fa-save"></i> Zapisz</button>
                </div>
                </div>
            </form>

            <%if(failed == 1){%>
            <div id="" class="modal">
                <div class="modal-content">
                    <h3>Uwaga!</h3>
                    <p>Taki email juz istnieje w systemie lub próbujesz przypisać kolejny email do tego samego pracownika.</p>
            
                    <form action="createEmail" method="GET">
                        <button type="submit" class="btn btn-danger">Ok</button>
                    </form>
                </div>
            </div>
            <% } %>

        </div>
    </div>


</div>

<% include partials/footerLogin %>