<% include partials/headerLogin %>
<% include partials/leftNavbar %>

<div class="col-11">
        <div class="section-assets">
                <div class="border shadow-lg p-3 mb-5 rounded">                
                    <div class="row asset-name">
                        <div class="col text-center">
                            <h2><%= clientInfo.Nazwa %> </h2>
                        </div>
                    </div>
            
                </div>
        </div>
</div>

<!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/editClients.js"></script>

<% include partials/footerLogin %>
