<% include partials/headerLogin %>
<% include partials/leftNavbar %>


<div class="col-lg-11">
    <div class="row">
        <div class="col-lg-2">
                <div class="widget shadow-lg p-3 mb-5 rounded">
                    </div>
        </div>
    </div>

</div>

    <!-- SCRIPT ENGINE -->
    <script type="text/javascript" src="scripts/home.js"></script>
<% include partials/footerLogin %>