<% include partials/headerLogin %>

<!-- Title -->
<div class="row">
    <div class="container text-center col-lg-12">
        <span class="h1 title">
            <h1>
                Witaj, <%= name %></h1>
        </span>
       
    </div>


</div>
</div>
</section>



<% include partials/footerLogin %>