<% include partials/headerLogin %>
<% include partials/leftNavbar %>

<div class="col-11">
        <div class="section-assets">
            <div class="row border">
                <button type="button" class="btn btn-success">Dodaj zespol</button>
            </div>
        </div>
</div>    
<% include partials/footerLogin %>