<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/error.css">
        <title>Błąd</title>
    </head>
    <body>
            <img src="/images/error.png" class="center" alt="Obrazek blad 404" style="width:500px;height:auto;"></br>
            <a href="/logout"><input type="button" class="center btn backBtn btn-dark" href="/home" value="Wróć"></a>
            <p>Nie masz uprawnien, aby tu wejsc.</p>
    </body>
</html>