<% include partials/header %>
<% include partials/leftNavbar %>

<div class="col-11">
<div class="section-profile ">
<h2>Twój profil</h2>
    <p>Aby zapisać nowe informacje, musisz nacisnąć "Zapisz", przy edytowanej pozycji.</p>

    <div class="panel-body">
        <div class="row">
            <div class="table-responsive ">
                <table class="table table-user-information">
                    <form action="editUser" method="POST">
                    <tbody>
                        <tr>
                            <td>Imię:</td>
                            <td>
                                <%= name %>
                            </td>
                            <td>
                                <input type="text" onkeypress="return isNumericKey(event)" class="newForm form-control form" name="newName" placeholder="Nowe imię">
                            </td>
                        </tr>
                        <tr>
                            <td>Nazwisko:</td>
                            <td>
                                <%= lastName %>
                            </td>
                            <td>
                                <input type="text" class="newForm form-control form" onkeypress="return isNumericKey(event)" name="newLastName" placeholder="Nowe nazwisko">
                            </td>
                        </tr>
                        <tr>
                            <td>Login</td>
                            <td>
                                <%= login %>
                            </td>
                            <td>
                                <input type="text" class="newForm form-control form" name="newLogin" placeholder="Nowy login">
                            </td>
                        </tr>

                        <tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <%= email %>
                            </td>
                            <td>
                                <input type="email" class="newForm form-control form" name="newEmail" placeholder="Nowy email">
                            </td>
                        </tr>
                        </tr>
                                <td>Hasło</td>
                                <td></td>
                                <td>
                                    <a href="/changePassword" ><button type="button" class="btn btn-outline-success">Zmień hasło</button> </a>
                                </td>
                        </tr>

                    </tbody>
                
                </table>
                </div>
                </div>
                <div class="rowSaveChanges">
                    <button type="submit" class="btn btn-success saveChangesProfile"><i class="fa fa-save"> </i> Zapisz zmiany</button>
                </div>
         </form>
         

            </div>
        </div>
    </div>

    <%if (changePassword === true){%>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h3>Zmiana hasła</h3>
                <p>Podaj stare i nowe hasło</p>
                <form action="/changePassword" method="POST">
                    <input type="password" class="form-control createAccount" name="currPassword" placeholder="Aktualne hasło" required>
                    <input type="password" class="form-control createAccount" name="newPassword" placeholder="Nowe hasło" required>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <a href="/profile"><button type="button" class="btn btn-danger"><i class="fas fa-times"></i> Anuluj</button> </a>
                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Zapisz</button>                            
                        </div>
                    </div>

                </form>  
            </div>
        </div>
    <% } %>

    <%if (passwordChanged === true){%>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h3>Sukces!</h3>
                <p>Hasło zmienione.</p>
                <a href="/profile"><button type="button" class="btn btn-success">Ok</button></a> 
            </div>
        </div>
    <% } %>

        
    <%if (wrongCurrentPassword === true){%>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h3>Uwaga!</h3>
                <p>Podałeś niepoprawne hasło aktualne.</p>
                <a href="changePassword"><button type="button" class="btn btn-success">Ok</button></a> 
            </div>
        </div>
    <% } %>

        <!-- SCRIPT ENGINE -->
<script type="text/javascript" src="scripts/profile.js"></script>
<% include partials/footer %>