<% include partials/headerLogin %>
<% include partials/leftNavbar %>

<div class="col-11">
        <div class="section-assets">
            <div class="row border">
                ustawienia
            </div>
        </div>
</div>    
<% include partials/footerLogin %>