<% include partials/auth/headerAuth %>
       
    <h2>Zarejestruj się</h2>
        <p>Czy Twoja firma jest już zarejestrowana?</p>
        <div class="panel signInFormPanel">
                <a href="/companyExists" >
                    <input type="button" class="btn btn-success" value="Moja firma ma już konto">
                </a>
                <a href="/companyNew">
                    <input type="button" class="btn btn-success" value="Chcę zgłosić nową firmę">
                </a>
            <p><a class="signup" href="/signin">Masz konto? Zaloguj się.</a></p>
        </div>

<% include partials/auth/footerAuth %>