/* Navbar */

.navbar-brand{
    margin-left: 2rem;
}

.navbar-nav{
    margin-right: 2rem;
}

.home-link{
    margin-right: 2rem;
    margin-left: 2rem;
    font-weight: bold;
}


/* Right panel navbar */
.left-navbar{
    height: 100vh;
    width: 7rem;
}

.alignVertical {
    position:relative;
    display:inline-block;
    top:45%;
    transform:translateY(-45%);
}

.panel-left-navbar {
    height: 75vh;
    background-color: dimgrey;
    padding: 1rem;
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-left-navbar {
    height: calc(4rem - 0.1rem);
    width: 4rem;
    margin-bottom: 3vh;
    /* margin-top: 1rem; */
    cursor: pointer;
    border-radius: 5px;
}
.navbar-text {
    position: absolute;
    width: 100vw;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}
.jakis{
    z-index: 1;
}

.col-1{
    margin-left: -1rem !important;
}

/* PROFILE */
.section-profile{
    margin-top: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.border{
    height: auto !important;
}

.infoPanel{
    height: 70vh;
}

.list-group{
    width: 15rem !important;
}

.list-group-item{
    /* width: 13vw !important; */
}

.search{
    width: 13vw;
    margin-bottom: 1rem;
}


.list-group{
    height: 70vh;
    overflow-y: scroll;
    background-color: rgb(219, 219, 219);
}

.addAssets{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 1rem;
}

#editPanel{ 
    display: none;
    z-index: 2;
    position: relative;
}


.section-assets{
    margin-top: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 80vh;
}

#infoPanel{
    margin-top: 1rem;
    margin-left: 2rem;
}

.asset-name{
    margin: 0 auto;
    width: 20rem;
}

#editPanel{
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
}

.col-md-2{
    margin-left: -1rem;
}

#edit{
    display: none;
}

.ul{
    margin-left: -2rem;
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
  }

  .createAccount{
      margin-bottom: 1rem;
  }

  #hide{
      visibility: hidden;
  }

@media screen and (max-width: 985px) {
    .list-group-item{
        width: 50vw !important;
    }
}