body {
    background-image: url("../images/background-min.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
  }

  .bg-dark {
    background-color: #000000!important;
}

/* Navbar */

.navbar-brand{
    margin-left: 2rem;
}

.navbar-nav{
    margin-right: 2rem;
}

.home-link{
    margin-right: 2rem;
    margin-left: 2rem;
    font-weight: bold;
}

.border-profile{
    height: 60vh;
    margin-bottom: 10rem;
    background-color: rgba(255, 255, 255, 0.842);
}

/* Right panel navbar */
.left-navbar{
    height: 100vh;
    width: 7rem;
}

.alignVertical {
    position:relative;
    display:inline-block;
    top:45%;
    transform:translateY(-45%);
}

.panel-left-navbar {
    height: 75vh;
    background-color: dimgrey;
    padding: 1rem;
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-left-navbar {
    height: calc(4rem - 0.1rem);
    width: 4rem;
    margin-bottom: 3vh;
    /* margin-top: 1rem; */
    cursor: pointer;
    border-radius: 5px;
}


.col-1{
    margin-left: -1rem !important;
}

/* PROFILE */
.section-profile {
    margin-top: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: rgba(255, 255, 255, 0.842);
    padding: 3rem;
}

.border{
    height: auto !important;
    margin-bottom: 10rem;
    background-color: rgba(255, 255, 255, 0.842);
}

.infoPanel{
    height: 70vh;
}

.list-group-item{
    cursor: pointer;
}

.search{
    z-index: 2;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    height: 3rem;
    margin-top: 1rem;
}

.buttonUnderList{
    margin-bottom: 1rem;
    margin-top: 1 rem;
}

.list-group{
    height: 60vh;
    overflow: auto;
    min-width: 60px;
    z-index: 1
}

.list-group-teams{
    height: 15rem;
    /* width: 20rem; */
    overflow: auto;
   
}


.list-group-job{
    height: 33rem;
    overflow: auto;
   
}

.addAssets{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 1rem;
}

#editPanel{ 
    display: none;
    z-index: 2;
    position: relative;
}


.section-assets{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 4rem;
    height: 80vh;
}

#infoPanel{
    margin-top: 1rem;

}


#editPanel{
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
}

.col-md-2{
    margin-left: -1rem;
}

#edit{
    display: none;
    margin-top: 1rem;
}

.ul{
    margin-left: -2.5rem;
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
  }

  .modal-content-proposal{
    background-color: #fefefe;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }

  .list{

  }

  .createAccount{
      margin-bottom: 1rem;
  }

  #hide{
      visibility: hidden;
  }

  .forSmallScreens{
      display:none;
  }

  .collapse-button{
    display: none;
}

.property{
    border-radius: 5px;
    padding: 0.5rem;
}

.littleButtons{
    margin-top: 0.8rem;
    margin-left: 1rem;
}

.copyIcon{
    color: rgb(158, 158, 158);
}

.copyIcon:hover{
    color: black;
    cursor: copy;
}

.asset-name{
    margin-top:0.5rem
}

#clientPanel{
    display: none;
}

#addProject{
    display: none;
}

#addCompany{
    display: none;
}

#addCategory{
    display: none;
}

#editProject{
    display: none;
}

#addJob{
    display: none
}

#showJob{
    display: none
}

.icon-bar {
    width: 10vh;
    background-color: #555;
    margin-top: 25vh;
    /* height: 80vh; */
}

.icon-bar a {
    display: block;
    font-size: 3vh;
    color: white;
    text-align: center;
    padding: 2vh;
    transition: all 0.3s ease;
}

.icon-bar a:hover{
    background-color: #000;
}

.active-bar{
    background-color: #ce7e5a
}

.container{
    padding: 2rem;
    height: 90%;
}

.jobInProgress{
    color: rgb(240, 240, 40);
    float: right;
}

.jobFinished{
    color:green;
    float: right;
}

.jobNotStarted{
    color: red;
    float:right;
}

.jobPriorityLow{
    color: green;
}

.jobPriorityMedium{
    color:rgb(240, 240, 40);
}

.jobPriorityHigh{
    color:red;
}

#maincalendar {
    max-width: 900px;
    margin: 0 auto;margin-top: 3rem;
  }

  .widget {
    height: 20rem;
    /* width: 17rem; */
    transition: transform .2s;
    /* margin-top: 4rem; */
    max-width: 20rem;
}

  .widget:hover{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
      
  }

.widgetButton{
    bottom: 0;
    position: absolute;
}

.widgetRow{
    margin-top: 30vh;
}

.textRow{
    height: 85%;
}

.actionButtons{
    margin-bottom: 0.5rem;
}

.unstyledButton {
    border: none;
    padding: 0;
    background: none;
  }

.unstyledLink{
    color: black
}

#permissions{
    display: none;
}

#perms{
    display: none;
}

.listHeight{
    height: 10rem !important;
}

.keepOnBottom{
    bottom: 0;
}

.sth{}

.itemsBar{
    height: 100%;
}

.maxHeight{
    height: 25rem;
    overflow: auto;
}

#proposal{
    display: none;
}

#proposalReceived{
    display: none;
}

@media screen and (max-width: 985px) {
    .list-group-item{
        width: 50vw !important;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 95%;
    }
}



@media screen and (max-width: 995px) {

    .addAssets{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 1rem;
    }

    .list-group-item{
        width: 100% !important;
    }

    .widgetRow{
        margin-top: 5vh;
    }

    .section-assets{
        margin-top: 2rem;
        margin-left: 0rem;
        margin-right: 0rem;
        height: 80vh;
    }
    
    .col-md-2{
        margin-left: 0rem;
    }

    .list-group{
        width: 100% !important;
    }

    .search{
        width: 100%;

    }

    .list-group {
        height: 50%;
        overflow: auto;
    }

    #editPanel {
        margin-top: 1rem;
        margin-left: 0rem; 
        text-align: center;
    }

    .collapse-button{
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: right
    }

    .icon-bar{
        width: 100%;
        background-color: #555;
        overflow: auto;
        margin-top: 0rem;
    }

    .icon-bar a{
        float:left;
        text-align: center;
        width: 16.666666667%;
        color: white;
        font-size: 36px;
        padding: 12px 0;
        transition: all 0.3s ease
    }

    .icon-bar a:hover{
        background-color: #000;
    }


    .container-bar{
        padding: 0px;
        position: fixed;
        Width: 100%;
        bottom: 0;
        z-index: 50;
    }

    .widget {
        height: 20rem;
        /* width: 17rem; */
        transition: transform .2s;
        /* margin-top: 4rem; */
        max-width: 100%;
    }

    .section-profile {
        margin-top: 8rem;
        margin-left: 0rem;
        margin-right: 0rem;
        background-color: rgba(255, 255, 255, 0.842);
        padding: 3rem;
    }
    
    .cos{
        height: 40rem;
    }

    #footer{
        bottom: 50rem;
        height: 30rem;
        position: initial;
        margin-top: 40rem;
        z-index: -50;
    }
  }
