/* Navbar */

.navbar-brand{
    margin-left: 2rem;
}

.navbar-nav{
    margin-right: 2rem;
}

.home-link{
    margin-right: 2rem;
    margin-left: 2rem;
    font-weight: bold;
}


/* Right panel navbar */
.left-navbar{
    height: 100vh;
    width: 7rem;
}

.alignVertical {
    position:relative;
    display:inline-block;
    top:45%;
    transform:translateY(-45%);
}

.panel-left-navbar {
    height: 75vh;
    background-color: dimgrey;
    padding: 1rem;
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-left-navbar {
    height: calc(4rem - 0.1rem);
    width: 4rem;
    margin-bottom: 3vh;
    /* margin-top: 1rem; */
    cursor: pointer;
    border-radius: 5px;
}


.col-1{
    margin-left: -1rem !important;
}

/* PROFILE */
.section-profile{
    margin-top: 8rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.border{
    height: auto !important;
}

.infoPanel{
    height: 70vh;
}

.list-group-item{
    cursor: pointer;
}

.search{
    z-index: 2;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    height: 3rem;
    margin-top: 1rem;
}

.buttonUnderList{
    margin-bottom: 1rem;
    margin-top: 1 rem;
}

.list-group{
    height: 70vh;
    overflow: auto;
    min-width: 60px;
    z-index: 1
}

.list-group-teams{
    height: 30rem;
    /* width: 20rem; */
    overflow: auto;
   
}

.addAssets{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 1rem;
}

#editPanel{ 
    display: none;
    z-index: 2;
    position: relative;
}


.section-assets{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 4rem;
    height: 80vh;
}

#infoPanel{
    margin-top: 1rem;

}


#editPanel{
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
}

.col-md-2{
    margin-left: -1rem;
}

#edit{
    display: none;
    margin-top: 1rem;
}

.ul{
    margin-left: -2.5rem;
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
  }

  .createAccount{
      margin-bottom: 1rem;
  }

  #hide{
      visibility: hidden;
  }

  .forSmallScreens{
      display:none;
  }

  .collapse-button{
    display: none;
}

.property{
    border-radius: 5px;
    padding: 0.5rem;
}

.littleButtons{
    margin-top: 0.8rem;
    margin-left: 1rem;
}

.copyIcon{
    color: rgb(158, 158, 158);
}

.copyIcon:hover{
    color: black;
    cursor: copy;
}

.asset-name{
    margin-top:0.5rem
}

#clientPanel{
    display: none;
}

#addProject{
    display: none;
}

#addCompany{
    display: none;
}

#addCategory{
    display: none;
}

@media screen and (max-width: 985px) {
    .list-group-item{
        width: 50vw !important;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 95%;
    }
}

@media screen and (max-width: 995px) , screen and (max-height: 800px) {
    .list-group-item{
        width: 100% !important;
    }

    .forBigScreens{
        display:none;
    }

    .forSmallScreens{
        display: contents
    }

    .left-navbar{
        display: none
    }

    .section-assets{
        margin-top: 2rem;
        margin-left: 0rem;
        margin-right: 0rem;
        height: 80vh;
    }
    
    .col-md-2{
        margin-left: 0rem;
    }

    .list-group{
        width: 100% !important;
    }

    .search{
        width: 100%;

    }

    .list-group {
        height: 50%;
        overflow: auto;
    }

    #editPanel {
        margin-top: 1rem;
        margin-left: 0rem; 
        text-align: center;
    }

    .collapse-button{
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: right
    }


  }