body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image:url("/images/app-background.png"); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

h2{
    text-align: center;
}





/* Sing in form */
.signInFormPanel{
    margin-top: 35px;
    background-color: white;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.signInPanel p{
    padding-top: 20px;
    text-align: center;
}

.signInPanel{
    background-color: white;
    width: 27rem;
    padding: 50px;
    border-radius: 5px;
    margin-top: 10%;
}

.signUpPanel{
    background-color: white;
    width: 27rem;
    padding: 50px;
    border-radius: 5px;
    margin-top: 5%;
}

.signUpPanel p{
    padding-top: 20px;
    text-align: center;
}

.form {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.backBtn{
    width: 50%;
    height: auto;
}


.welcomeTextLogin{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.welcomeTextLogin h1{
    font-weight: bold;
    font-size: 3rem;
}

footer{
    color: white;
    text-align: center;
    margin-top: 2rem;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.signup{
    color: black;
}

.errorNote{
    color: white;
}

@media screen and (max-width: 600px) {
        .signInPanel{
            background-color: white;
            width: 100%;
            border-radius: 5px;
            margin-top: 10%;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
            padding-bottom: 30px; 
    }

    .signUpPanel{
        background-color: white;
        width: 100%;
        border-radius: 5px;
        margin-top: 10%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px; 
}

    .signInFormPanel{
        margin-top: 35px;
        background-color: white;
        height: auto;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    footer{
        color: white;
        text-align: center;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 10px;
    }
  }